<app-navbar></app-navbar>

<div class="centered-container">
    <h1 class="large-text">User Registry</h1>
    <p class="sub-text">A general view of all your members in your organization</p>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Admin</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.profile.firstName }}</td>
                <td><a href="mailto:{{ user.profile.email }}">{{ user.profile.email }}</a></td>
                <td [ngClass]="{'text-green': user.active === true, 'text-red': user.active === false}">{{ user.active }}</td>
                <td [ngClass]="{'text-green': user.admin === true, 'text-red': user.admin === false}">{{ user.admin }}</td>
                <td>{{ user.status }}</td>
            </tr>
        </tbody>
    </table>

    <button class="rounded-button" (click)="openModal()">ADD USER</button>
</div>

<div id="myModal" class="modal" [ngStyle]="{'display': displayStatus}">
        <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <form [formGroup] = "newUser" (ngSubmit) = "addUser()" class="modal-form">
            <div class="input-row">
              <input type="text" id="firstName" formControlName="firstName" placeholder="first name">
              <input type="text" id="lastName" formControlName="lastName" placeholder="last name">
            </div>
            <div class="input-row">
              <input type="email" id="email" formControlName="email" placeholder="email">
            </div>
            <div class="input-row">
              <input type="tel" id="phone" formControlName="phone" placeholder="phone">
            </div>
            <div class="input-row">
              <input type="password" id="password" formControlName="password" placeholder="password">
              <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="confirm password">
            </div>
            <br/>
              <div class="question">
                <label for="adminRole">Make user an admin role?</label>
              </div>
              <div class="dropdown">
                <select #admin id="adminRole" name="adminRole" class="dialogSelect" (change)="selectAdmin(admin.value)">
                  <option value="" disabled selected>Pick an option</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>

            <div class="input-row button-row">
                <button type="submit" class="roundButton">Submit</button>
            </div>
          </form>
        </div>
    </div>

